body {
	background-color: #F2F4F4;
	font-family: Verdana, sans-serif;
}

h1, h2, h3, h4 {
	text-align: center;
}

h1 {
	display: inline;
	border-bottom: 3px solid #f9dd94;
}

h2 {
	color: #154360;
	text-decoration: dashed #7F8C8D;
}

h3 {
	color: #2471A3;
}

h4{
	color: #909497;
}
.nav_ {
  background-color: #A9CCE3;
  list-style-type: none;
}
.nav_ ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}
.nav_ ul li {
  float: left;
  list-style-type: none;
}

.nav_ ul li a {
	display: block;
	padding: 20px;
	text-align: center;
  font-size: 15px;
  color:  #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  list-style-type: none;
}
/*hover*/

.nav_ li a:hover {
  color: #000;
  background-color: #ccc;
  list-style-type: none;
}

.contactp {
	text-align: center;
	padding: 10px;
	background-color: #E8F6F3;
	border: 2px solid black;
  border-radius: 15px;
  margin: 0 auto;
  width: 60%;
 	overflow: hidden;
}

.skills {
	width: 100%;
	height: 175px;
	overflow: hidden;
}
.left {
	float: left;
	width: 45%;
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #E8F6F3;
	border: 2px solid black;
  border-radius: 15px;
  height: 100px;
  overflow: hidden;
}

.right {
	float: right;
	width: 45%;
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #E8F6F3;
	border: 2px solid black;
  border-radius: 15px;
  height: 100px;
  overflow: hidden;
}

.education-content {
	margin: 0 auto;
	width: 60%;
	background-color: #E8F6F3;
	border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
}
.experience {
	width: 100%;
	height: 500px;
}
.apple,
.plexus,
.dcc {
	float: left;
	width: 31%;
	text-align: center;
	height: 95%;
	overflow: hidden;
}

.apple,
.plexus,
.dcc { 
	margin: 1%;
	padding: 0px 0.5px 0px 0.5px;
	background-color: #E8F6F3;
	border: 2px solid black;
  border-radius: 15px
}

.p-r {
	float: left;
	width: 45%;
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #E8F6F3;
	border: 2px solid black;
  border-radius: 15px;
  height: 55%;
}
.r-p {
	float: right;
	width: 45%;
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #E8F6F3;
	border: 2px solid black;
  border-radius: 15px;
  height: 55%;
}
.projects{
	width: 100%;
	height: 300px;
}
.volunteer {
	width: 100%;
	height: 300px;
}

.exposure img,
.cad img,
.product img {
	margin: 10px;
	border-radius: 15px;
	height: 350px;
	width: 575px;
}

.exposure{
	background-color: #EBDEF0;
}

.exposure img{
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.origin {
	position: absolute;
	background-color: #E8F6F3;
	border: 2px solid black;
  border-radius: 15px;
 }

.origin {
	position: relative;
}

.cad{
	background-color: #F2D7D5;
}

.cad img{
	position: relative;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.dmodel {
	position: absolute;
	background-color: #E8F6F3;
	border: 2px solid black;
  border-radius: 15px;
 }

.dmodel {
	position: relative;
}

.product {
	background-color: #FCF3CF;
}

.product img{
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.printedprod {
	position: absolute;
	background-color: #E8F6F3;
	border: 2px solid black;
  border-radius: 15px;
 }

.printedprod{
	position: relative;
}

/*
.rose {
	background-image: "media/bulls.jpg";
}
.dwade {
	background-image: "media/bulls.jpg";
}
.pg {
	background-image: "media/bulls.jpg";
}
*/

.drose {
	margin: 0 auto;
	background-color: #E8F6F3;
	border: 2px solid black;
  border-radius: 15px
}

.rose_accolades {
	margin:  0 auto;
	background-color: #E8F6F3;
	border: 2px solid black;
  border-radius: 15px;
  text-align: center;
}

.wade{
	margin: 0 auto;
	background-color: #E8F6F3;
	border: 2px solid black;
  border-radius: 15px
}

.wade_accolades{
	margin: 0 auto;
	background-color: #E8F6F3;
	border: 2px solid black;
  border-radius: 15px;
  text-align: center;
}

.pg_ {
	margin: 0 auto;
	background-color: #E8F6F3;
	border: 2px solid black;
  border-radius: 15px
}

.pg_accolades {
	margin: 0 auto;
	background-color: #E8F6F3;
	border: 2px solid black;
  border-radius: 15px;
  text-align: center;
}

.reels {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.list li {
  text-align: center;
  list-style-type: square;
  list-style-position: inside;
  list-style-type color: red;
}

li.even {
	text-align: justify;
	margin: 0.5em;
} 
