body {
	background-color: #F2F4F4;
}

body li a{
  font-family: Verdana, sans-serif;
}

h1, h2, h3, h4 {
	text-align: center;
}

.contactp {
	width: 30%;
	text-align: center;
	padding: 20px;
	background-color: #E8F6F3;
	border: 2px solid black;
    border-radius: 15px
}

.skills_skeleton {
	margin:  0 auto;
}

.education-content {
	width: 80%;
	margin:  0 auto;
	background-color: #E8F6F3;
	border: 2px solid black;
    border-radius: 15px
}

.pro-skeleton {
	background-color: #E8F6F3;
	border: 2px solid black;
    border-radius: 15px
}

.left,
.right {
	float: left;
	width: 50%;
	text-align: center;
	margin: 0;
	padding: 0;
}

.left,
.right {
	background-color: #E8F6F3;
	border: 2px solid black;
    border-radius: 15px
}

.apple,
.plexus,
.dcc {
	float: left;
	width: 33%;
	text-align: center;
}

.proj-skeleton {
	width: auto;
	margin:  0 auto;
	background-color: #E8F6F3;
	border: 2px solid black;
    border-radius: 15px}

.volun-skeleton {
	width: auto;
	margin:  0 auto;
	background-color: #E8F6F3;
	border: 2px solid black;
    border-radius: 15px
}

.list li {
  text-align: center;
  list-style-type: "\1F44D";
  list-style-position: inside;
}

li.even {
	text-align: justify;
	margin: 0.5em;
} 
.nav_ {
  width: 40%;
  margin: 0 auto;
}
.nav_ ul {
  margin: 0;
  padding: 5px;
  margin: 0 auto;
  background-color: #A9CCE3;
}
.nav_ li {
  width: 100%;
  
  text-align: center;
  box-sizing: content-box;
  margin-bottom: 2%;
  list-style: none;
}

.nav_ li a {
  display: block;
  padding: 0px;
  color: black;
}

/*hover*/

.nav_ li a:hover {
  color: white;
  background-color: white;
  text-decoration: none;
