body {
	background-color:#F8F9F9;
}

body li a{
  font-family: Verdana, sans-serif;
}

.list li {
  text-align: center;
  list-style: none;
}
.nav_ {
  width: 90%;
  margin: 0 auto;
}
.nav_ ul {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  background-color: #A9CCE3;
}
.nav_ li {
  width: 100%;
  
  text-align: center;
  box-sizing: content-box;
  margin-bottom: 5%;
  list-style: none;
}

.nav_ li a {
  display: block;
  padding: 0.8em 0;
  color: #D2394E;
}